.layout-container {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bg-home {
    background-image: url('/src/assets/homeBackground.jpeg');
  }
  
  .bg-signin {
    background-image: url('/src/assets/signinBackground.jpg');
  }
  
  .bg-contact {
    background-image: url('/src/assets/contactBackground.jpg');
  }
  